<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.pink.gmall.user.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.pink.gmall.bean.UmsMember">
        select
            *
        from
            ums_member
    </select>
</mapper>